@import 'https://fonts.googleapis.com/css?family=Lora|Arima+Madurai:300';
$screen-sm:                         769px;
$font-family-sans-serif:            'Lora', serif;
$font-size-base:                    18px;
$line-height-base:                  1.7;
$text-color:                        rgba(0, 0, 0, 0.8);

$yuru-logo-color:                   #2f6f51;
$yuru-font-cursive:                 'Arima Madurai', cursive;

$navbar-height:                     70px;
$navbar-default-link-color:         #777;
$navbar-default-link-hover-color:   darken($yuru-logo-color,50%);
$navbar-default-link-active-color:  white;
$navbar-default-bg:                 white;
$navbar-default-link-active-bg:     $yuru-logo-color;
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


/*
 * Basic HTML elements
 */

.content {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    margin: 0px;
}

header {
    position: relative;
    z-index: 1;
    #logo {
        max-height: 100px;
        #logo-main {
            display: block;
            margin: 20px auto;
            left: 20px;
        }

        #logo-tagline {
            display: block;
            font-family: $yuru-font-cursive;
            text-align: center;
        }
    }

    @media screen and (max-width: $screen-tablet) {
        max-height: 100px;
    }

}

footer {
    background: $navbar-default-bg;
    opacity: 0.90;
    margin-top: 50px;
    padding-top: 50px;
}

/*
 * Helper classes
 */

 .text-center {
    text-align: center;
}

/*
 * Navbar
 */
 #navbar-primary {
    &.navbar-default {
        border: none;
        font-family: $yuru-font-cursive;
        opacity: 0.90;
        @media screen and (max-width: $screen-tablet) {
            background: transparent;
            top : -120px;
         
            .navbar-collapse { 
                background-color: $navbar-default-bg;
            }
        }
        .navbar-nav { 
            width: 100%;
            text-align: center;
            > li {
                display: inline-block;
                float: none;
                > a {
                    @media screen and (min-width: $screen-tablet) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                    @media screen and (max-width: $screen-tablet) {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $screen-tablet) {
        &.affix {
            position: fixed;
            border: 1px solid #eee;
            top: 0px;
            width: 100%;
        }
    }
    // @media screen and (max-width: $screen-tablet) {
    //     &.affix {
    //     }
    // }
}

/*
 * Box
 */

.box {
    padding: 30px 40px 30px 40px;
    margin-bottom: 20px;
    background: $navbar-default-bg;
    opacity: 0.96;
    hr {
        max-width: 400px;
        border-color: #999;
    }
    h2 {
        text-transform: uppercase;
        font-family: $yuru-font-cursive;
        //font-size: 1.5em;
    }
    p {
        text-align: justify;
        &.no-justify {
            text-align: left;
        }
    }
}

.box-cutout {
    @extend .box;
    @media screen and (min-width: $screen-tablet) {
        padding: 30px 40px 30px 40px !important;
    }
    @media screen and (max-width: $screen-tablet) {
        padding: 0px 40px 30px 40px !important;
    }
}


.div-center {
    margin: 0 auto;
    width: 100%
}

.admin-thumbnail {
	min-height: 400px;
}

.margin-element {
    margin-bottom: 20px;
}

.cutout {
    @media screen and (max-width: $screen-tablet) {
        background-image: url('/page-elements/cutout.png');
        background-size: 100% 100px;
        background-repeat: no-repeat;
        min-height: 101px;
        opacity: 0.96;
        margin-bottom: -1px;
        padding-bottom: 1px;
    }
    @media screen and (min-width: $screen-tablet) {
        display: none;   
    }
}





