@import 'https://fonts.googleapis.com/css?family=Lora|Arima+Madurai:300';

$font-family-sans-serif:            'Lora', serif;
$font-size-base:                    18px;
$line-height-base:                  1.7;
$text-color:                        rgba(0, 0, 0, 0.8);


$yuru-logo-color:                   #2f6f51;
$yuru-font-cursive:                 'Arima Madurai', cursive;

$navbar-height:                     70px;
$navbar-default-link-color:         #777;
$navbar-default-link-hover-color:   darken($yuru-logo-color,50%);
$navbar-default-link-active-color:  white;
$navbar-default-bg:                 lighten($yuru-logo-color, 80%);
$navbar-default-link-active-bg:     $yuru-logo-color;
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


/*
 * Basic HTML elements
 */

body {
    background: linear-gradient(
      rgba(255, 255, 255, 0.75), 
      rgba(255, 255, 255, 0.25)
    ),url('/page-elements/background.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: relative;
    z-index: 1;
    #logo {
        min-height: 80px;
        #logo-main {
            display: block;
            margin: 20px auto;
        }

        #logo-tagline {
            display: block;
            font-family: $yuru-font-cursive;
            text-align: center;
        }
    }
}

footer {
    background: $navbar-default-bg;
    opacity: 0.90;
    margin-top: 50px;
    padding-top: 50px;
}

/*
 * Helper classes
 */

.text-center {
    text-align: center;
}

/*
 * Navbar
 */
#navbar-primary {
    &.navbar-default {
        //background: transparent;
        border: none;
        font-family: $yuru-font-cursive;
        opacity: 0.90;
        @media screen and (min-width: $screen-tablet) {
            .navbar-nav { 
                width: 100%;
                text-align: center;
                > li {
                    display: inline-block;
                    float: none;
                    > a {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
    &.affix {
        position: fixed;
        border: 1px solid #eee;
        top: 0;
        width: 100%
    }
}

/*
 * Box
 */

.box {
    padding: 30px 40px 30px 40px;
    margin-bottom: 20px;
    background: $navbar-default-bg;
    opacity: 0.93;
    hr {
        max-width: 400px;
        border-color: #999;
    }
    h2 {
        text-transform: uppercase;
        font-family: $yuru-font-cursive;
        //font-size: 1.5em;
    }
    p {
        text-align: justify;
        &.no-justify {
            text-align: left;
        }
    }
    .table {
        td {
            border: none;
        }
        th {
            border: none;
        }
    }
}

.div-center {
    margin: 0 auto;
    width: 100%
}

.admin-thumbnail {
	min-height: 400px;
}

.margin-element {
    margin-bottom: 20px;
}




